<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billy - Bulk ILL</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">
    <div class = "container mt-5">
        <div class="p-4 border-primary bg-primary shadow-sm rounded">
        <h1 class="text-center text-light">Welcome to Billy!</h1>
        <h2 class="text-center text-light">A bulk ILL uploader</h2>
    </div>
    <div class="container mt-5">
        <div class="p-4 border-primary bg-white shadow-sm rounded">
        <h2 class="text-left">Upload transactions</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class='{{ catetory }}'>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/submit" method="post" class="mt-4">
            <div class="mb-3">
                <label for="email" class="form-label">
                    Email:
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" title="Enter the NC State email address of the person who will receive the requests."></i>
                </label>
                <input type="email" id="email" name="email" class="form-control" value="{{ email }}" required>
            </div>
            <div class="mb-3">
                <label for="filename" class="form-label">
                    Filename:
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" title="You can upload an RIS file from any source or a CSV export from Zotero."></i>
                </label>
                <input type="file" id="filename" name="filename" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="pickup" class="form-label">
                    Pickup Location:
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" title="Select the library where you want to pick up your items."></i>
                </label>
                <select id="pickup" name="pickup" class="form-select" required>
                    <option value="Hill">D.H. Hill Library</option>
                    <option value="Hunt">James B. Hunt Jr. Library</option>
                    <option value="Design">Design Library</option>
                    <option value="Natual Resources">Natural Resources Library</option>
                    <option value="Veterinary Medicine">Veterinary Medicine Library</option>
                    <option value="METRC">METRC</option>
                    <option value="Distance/Extension">Delivery by mail</option>
                </select>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" id="test_mode" name="test_mode" class="form-check-input" checked>
                <label for="test_mode" class="form-check-label">
                    Run in test mode
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" title="Test mode will show the tranactions that will be created, but will not submit them."></i>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>